In [2]:
import csv
import pandas as pd

In [17]:
import json

In [78]:
wikidata_cs = pd.read_csv('/Users/anesterov/reps/LODlit/spacy_sim_experiment.csv')

In [79]:
len(wikidata_cs)

151412

In [3]:
annotated = pd.read_csv('/Users/anesterov/reps/LODlit/gt_matching.csv')

In [74]:
wikidata_cs.head()

,Unnamed: 0,term,QID,wd_bow,spacy_cs
0,0,batavia,Q100341056,"['tentoonstelling', 'ter', 'herdenking', 'van'...",0.238
1,1,batavia,Q100341171,"['topografische', 'dienst', 'temporary', 'exhi...",0.453
2,2,batavia,Q100342162,"['kaart', 'exhibition', 'temporary', 'exhibiti...",0.439
3,3,batavia,Q102227440,"['gerardus', 'van', 'groll', 'sep', 'kaapstad'...",0.590
4,4,batavia,Q102227447,"['pieter', 'hendrick', 'breton', 'est', 'oct']",0.088

In [80]:
# removing entities with the same QIDs from the search results
wikidata_cs.drop_duplicates(subset=["QID"], inplace=True)

In [81]:
len(wikidata_cs)

135108

In [7]:
annotated.rename(columns={'entity_id': 'QID','target_term': 'term'}, inplace=True)

In [8]:
annotated.head()

         term        QID  check
0  aboriginal  Q10474818   True
1  aboriginal   Q1131830   True
2  aboriginal  Q12060728   True
3  aboriginal   Q1236246   True
4  aboriginal  Q12860160   True

### Getting Top-10 for every term

In [ ]:
# importing related matches per term

In [82]:
top_10_unique = pd.DataFrame()

In [83]:
for group in wikidata_cs.groupby("term"):
    top_10_unique = top_10_unique.append(group[1].sort_values(by='spacy_cs', ascending=False)[0:10])

In [84]:
top_10_unique

,Unnamed: 0,term,QID,wd_bow,spacy_cs
72742,72742,aboriginal,Q103817,"['indigenous', 'people', 'population', 'group'...",0.971
73002,73002,aboriginal,Q28942344,"['indigenous', 'australian', 'community', 'hum...",0.945
74022,74022,aboriginal,Q28943050,"['warndarang', 'people', 'extinct', 'language'...",0.937
73813,73813,aboriginal,Q9064330,"['native', 'people', 'ethnic', 'group', 'indig...",0.932
72840,72840,aboriginal,Q1493806,"['indigenous', 'people', 'australia', 'ethnic'...",0.931
...,...,...,...,...,...
31588,31588,whitest,Q2089766,"['kid', 'know', 'television', 'series', 'theat...",0.426
31589,31589,whitest,Q23414911,"['rich', 'road', 'trip', 'town', 'america', 't...",0.403
31590,31590,whitest,Q639424,"['boy', 'alive', 'musical', 'group', 'band']",0.366
31591,31591,whitest,Q8850480,"['boy', 'alive', 'album', 'wikimedia', 'catego...",0.288
31592,31592,whitest,Q8850483,"['kid', 'know', 'album', 'wikimedia', 'categor...",0.285

In [85]:
merged = top_10_unique.merge(annotated,how="left",on=["term","QID"])

In [86]:
merged.to_csv('checking_top10.csv')

### Getting Top-10 results for every score

In [7]:
all_cs_scores = pd.read_csv("/Users/anesterov/reps/LODlit/cs_all.csv")

In [8]:
all_cs_scores.head()

,Unnamed: 0,Unnamed: 0.1,term,QID,wd_bow,spacy_cs,cs_combined,cs_rm_only,cs_wm_only
0,0,0,batavia,Q100341056,"['tentoonstelling', 'ter', 'herdenking', 'van'...",0.238,0.275,0.254,0.254
1,1,1,batavia,Q100341171,"['topografische', 'dienst', 'temporary', 'exhi...",0.453,0.587,0.454,0.587
2,2,2,batavia,Q100342162,"['kaart', 'exhibition', 'temporary', 'exhibiti...",0.439,0.587,0.454,0.587
3,3,3,batavia,Q102227440,"['gerardus', 'van', 'groll', 'sep', 'kaapstad'...",0.590,0.534,0.671,0.361
4,4,4,batavia,Q102227447,"['pieter', 'hendrick', 'breton', 'est', 'oct']",0.088,0.102,0.100,0.091

In [9]:
cs_combined = all_cs_scores.drop(columns=['Unnamed: 0','Unnamed: 0.1','spacy_cs','cs_rm_only','cs_wm_only'])

In [10]:
cs_combined.head()

,term,QID,wd_bow,cs_combined
0,batavia,Q100341056,"['tentoonstelling', 'ter', 'herdenking', 'van'...",0.275
1,batavia,Q100341171,"['topografische', 'dienst', 'temporary', 'exhi...",0.587
2,batavia,Q100342162,"['kaart', 'exhibition', 'temporary', 'exhibiti...",0.587
3,batavia,Q102227440,"['gerardus', 'van', 'groll', 'sep', 'kaapstad'...",0.534
4,batavia,Q102227447,"['pieter', 'hendrick', 'breton', 'est', 'oct']",0.102

In [11]:
cs_combined.drop_duplicates(subset=["term","QID"], inplace=True)

In [12]:
cs_combined.head()

,term,QID,wd_bow,cs_combined
0,batavia,Q100341056,"['tentoonstelling', 'ter', 'herdenking', 'van'...",0.275
1,batavia,Q100341171,"['topografische', 'dienst', 'temporary', 'exhi...",0.587
2,batavia,Q100342162,"['kaart', 'exhibition', 'temporary', 'exhibiti...",0.587
3,batavia,Q102227440,"['gerardus', 'van', 'groll', 'sep', 'kaapstad'...",0.534
4,batavia,Q102227447,"['pieter', 'hendrick', 'breton', 'est', 'oct']",0.102

In [13]:
top_10_cs_combined = pd.DataFrame()
for group in cs_combined.groupby("term"):
    top_10_cs_combined = top_10_cs_combined.append(group[1].sort_values(by='cs_combined', ascending=False)[0:10])

In [14]:
top_10_cs_combined

,term,QID,wd_bow,cs_combined
93842,aboriginal,Q103817,"['indigenous', 'people', 'population', 'group'...",0.945
94531,aboriginal,Q96200400,"['land', 'acknowledgement', 'acknowledgment', ...",0.939
95758,aboriginal,Q7980672,"['welcome', 'country', 'acknowledgement', 'cou...",0.930
94200,aboriginal,Q28942344,"['indigenous', 'australian', 'community', 'hum...",0.924
94041,aboriginal,Q170355,"['indigenous', 'australian', 'human', 'populat...",0.922
...,...,...,...,...
36564,whitest,Q2089766,"['kid', 'know', 'television', 'series', 'theat...",0.566
36565,whitest,Q23414911,"['rich', 'road', 'trip', 'town', 'america', 't...",0.499
36566,whitest,Q639424,"['boy', 'alive', 'musical', 'group', 'band']",0.486
36568,whitest,Q8850483,"['kid', 'know', 'album', 'wikimedia', 'categor...",0.405
36567,whitest,Q8850480,"['boy', 'alive', 'album', 'wikimedia', 'catego...",0.377

In [63]:
top_10_cs_combined.to_csv('top_10_cs_combined.csv')

In [15]:
# checking how many related matches per term are in top-10

In [18]:
with open('/Users/anesterov/reps/wordsmatter/related_matches/rm.json','r') as jf:
    rm = json.load(jf)

In [28]:
## cs all

In [25]:
rm_count = 0
total_terms = 0
for g in top_10_cs_combined.groupby("term"):
    total_terms += 1
    rm_count_per_term = 0
    
    for value in rm.values():
        if value["lang"] == "en":
            if g[0] in value["query_terms"]:
                wd_rm = value["related_matches"].get("wikidata")
                if wd_rm != None:
                    if wd_rm[0] in list(g[1]["QID"]):
                        rm_count_per_term += 1
                        rm_count += 1
                        
    print(g[0], rm_count_per_term)

aboriginal 1
aboriginals 0
allochtoon 1
baboo 0
baboos 0
barbarian 1
barbarians 0
batavia 1
berber 1
berbers 1
black 1
blacker 0
blackest 0
blacks 1
bombay 1
burma 1
bush negro 0
bush negroes 0
bush negros 0
calcutta 1
caucasian 1
caucasians 0
colored 1
coolie 1
coolies 0
descent 1
developing nation 0
developing nations 0
disabled 1
discover 0
dwarf 0
dwarfer 0
dwarfest 0
dwarfs 0
dwarves 0
eskimo 0
eskimos 1
ethnic group 1
ethnic groups 1
ethnicities 0
ethnicity 0
exotic 0
exotics 0
first world 1
footman 1
footmen 0
full blood 0
gay 1
gayer 0
gayest 0
gays 0
gypsies 0
gypsy 0
gypsys 0
half-blood 0
half-bloods 0
half-breed 1
half-breeds 0
handicap 1
handicaps 0
headhunter 0
headhunters 0
hermaphrodite 1
hermaphrodites 0
homo 0
homos 0
homosexual 1
homosexuals 1
hottentot 1
hottentots 0
immigrant 1
immigrants 0
indian 0
indians 1
indigenous 1
indo 0
indos 0
inuit 1
inuits 1
kaffir 1
kaffirs 1
lilliputian 1
lilliputians 0
low-income countries 0
low-income country 0
madras 1
maroon 0
maroons 1
medicine man 1
medicine men 0
mestizo 1
mestizos 1
metis 1
mohammedan 1
mohammedans 0
mongoloid 1
moor 0
moors 1
mulatto 1
mulattoes 0
mulattos 0
métis 1
native 0
natives 0
negro 0
negroes 0
negros 0
oriental 0
orientals 0
page 1
pages 0
primitive 0
primitives 0
primitivism 1
pygmy 1
queer 1
queerer 0
queerest 0
queers 0
race 1
races 1
retarded 0
roots 0
second world 1
servant 1
servants 0
slave 1
slaves 0
southern rhodesia 1
third world 1
traditional 0
traditionals 0
trans 1
transvestite 0
transvestites 0
tribe 1
tribes 0
western 1
westerns 0
white 1
whiter 0
whites 1
whitest 0

In [27]:
print(rm_count,total_terms)

63 143

In [29]:
## cs only new rm

In [30]:
cs_new_rm = all_cs_scores.drop(columns=['Unnamed: 0','Unnamed: 0.1','spacy_cs','cs_combined','cs_wm_only'])

In [31]:
cs_new_rm.drop_duplicates(subset=["term","QID"], inplace=True)

In [32]:
cs_new_rm

,term,QID,wd_bow,cs_rm_only
0,batavia,Q100341056,"['tentoonstelling', 'ter', 'herdenking', 'van'...",0.254
1,batavia,Q100341171,"['topografische', 'dienst', 'temporary', 'exhi...",0.454
2,batavia,Q100342162,"['kaart', 'exhibition', 'temporary', 'exhibiti...",0.454
3,batavia,Q102227440,"['gerardus', 'van', 'groll', 'sep', 'kaapstad'...",0.671
4,batavia,Q102227447,"['pieter', 'hendrick', 'breton', 'est', 'oct']",0.100
...,...,...,...,...
194693,tribe,Q901103,"['dadikas', 'persian']",0.739
194694,tribe,Q93368542,"['eupalini', 'unavailable', 'family', 'group',...",0.706
194695,tribe,Q96417748,"['banu', 'hanzala', 'historical', 'arab']",0.775
194696,tribe,Q96419250,"['rind', 'khan', 'rind', 'khan', 'another', 's...",0.694
194697,tribe,Q990822,"['erkin', 'turkish']",0.622

In [33]:
top_10_cs_new_rm = pd.DataFrame()
for group in cs_new_rm.groupby("term"):
    top_10_cs_new_rm = top_10_cs_new_rm.append(group[1].sort_values(by='cs_rm_only', ascending=False)[0:10])

In [34]:
top_10_cs_new_rm

,term,QID,wd_bow,cs_rm_only
93842,aboriginal,Q103817,"['indigenous', 'people', 'population', 'group'...",0.948
94531,aboriginal,Q96200400,"['land', 'acknowledgement', 'acknowledgment', ...",0.938
95758,aboriginal,Q7980672,"['welcome', 'country', 'acknowledgement', 'cou...",0.929
94200,aboriginal,Q28942344,"['indigenous', 'australian', 'community', 'hum...",0.922
95133,aboriginal,Q8039318,"['wurundjeri', 'woi', 'wurrung', 'cultural', '...",0.920
...,...,...,...,...
36564,whitest,Q2089766,"['kid', 'know', 'television', 'series', 'theat...",0.537
36565,whitest,Q23414911,"['rich', 'road', 'trip', 'town', 'america', 't...",0.471
36566,whitest,Q639424,"['boy', 'alive', 'musical', 'group', 'band']",0.464
36568,whitest,Q8850483,"['kid', 'know', 'album', 'wikimedia', 'categor...",0.385
36567,whitest,Q8850480,"['boy', 'alive', 'album', 'wikimedia', 'catego...",0.349

In [35]:
rm_count = 0
total_terms = 0
for g in top_10_cs_new_rm.groupby("term"):
    total_terms += 1
    rm_count_per_term = 0
    
    for value in rm.values():
        if value["lang"] == "en":
            if g[0] in value["query_terms"]:
                wd_rm = value["related_matches"].get("wikidata")
                if wd_rm != None:
                    if wd_rm[0] in list(g[1]["QID"]):
                        rm_count_per_term += 1
                        rm_count += 1
                        
    print(g[0], rm_count_per_term)

aboriginal 1
aboriginals 0
allochtoon 1
baboo 0
baboos 0
barbarian 1
barbarians 0
batavia 1
berber 1
berbers 1
black 1
blacker 0
blackest 0
blacks 1
bombay 1
burma 1
bush negro 0
bush negroes 0
bush negros 0
calcutta 1
caucasian 1
caucasians 0
colored 1
coolie 1
coolies 0
descent 1
developing nation 0
developing nations 0
disabled 1
discover 0
dwarf 0
dwarfer 0
dwarfest 0
dwarfs 0
dwarves 0
eskimo 0
eskimos 1
ethnic group 1
ethnic groups 1
ethnicities 0
ethnicity 0
exotic 0
exotics 0
first world 1
footman 1
footmen 0
full blood 0
gay 1
gayer 0
gayest 0
gays 0
gypsies 1
gypsy 0
gypsys 0
half-blood 0
half-bloods 0
half-breed 1
half-breeds 0
handicap 1
handicaps 0
headhunter 0
headhunters 0
hermaphrodite 1
hermaphrodites 0
homo 0
homos 0
homosexual 1
homosexuals 1
hottentot 1
hottentots 0
immigrant 1
immigrants 0
indian 0
indians 1
indigenous 1
indo 1
indos 0
inuit 1
inuits 1
kaffir 1
kaffirs 1
lilliputian 1
lilliputians 0
low-income countries 0
low-income country 0
madras 1
maroon 0
maroons 1
medicine man 1
medicine men 0
mestizo 1
mestizos 1
metis 1
mohammedan 1
mohammedans 0
mongoloid 1
moor 0
moors 1
mulatto 1
mulattoes 0
mulattos 0
métis 1
native 0
natives 0
negro 0
negroes 0
negros 0
oriental 0
orientals 0
page 1
pages 0
primitive 1
primitives 0
primitivism 1
pygmy 1
queer 1
queerer 0
queerest 0
queers 0
race 1
races 1
retarded 0
roots 0
second world 1
servant 1
servants 0
slave 1
slaves 0
southern rhodesia 1
third world 1
traditional 0
traditionals 0
trans 1
transvestite 0
transvestites 0
tribe 1
tribes 0
western 1
westerns 0
white 1
whiter 0
whites 1
whitest 0

In [36]:
print(rm_count,total_terms)

66 143

In [37]:
## only wm

In [38]:
cs_wm = all_cs_scores.drop(columns=['Unnamed: 0','Unnamed: 0.1','spacy_cs','cs_combined','cs_rm_only'])

In [39]:
cs_wm.drop_duplicates(subset=["term","QID"], inplace=True)

In [40]:
top_10_cs_wm = pd.DataFrame()
for group in cs_wm.groupby("term"):
    top_10_cs_wm = top_10_cs_wm.append(group[1].sort_values(by='cs_wm_only', ascending=False)[0:10])

In [41]:
rm_count = 0
total_terms = 0
for g in top_10_cs_wm.groupby("term"):
    total_terms += 1
    rm_count_per_term = 0
    
    for value in rm.values():
        if value["lang"] == "en":
            if g[0] in value["query_terms"]:
                wd_rm = value["related_matches"].get("wikidata")
                if wd_rm != None:
                    if wd_rm[0] in list(g[1]["QID"]):
                        rm_count_per_term += 1
                        rm_count += 1
                        
    print(g[0], rm_count_per_term)

aboriginal 0
aboriginals 0
allochtoon 1
baboo 0
baboos 0
barbarian 0
barbarians 0
batavia 0
berber 0
berbers 0
black 0
blacker 0
blackest 0
blacks 1
bombay 0
burma 0
bush negro 0
bush negroes 0
bush negros 0
calcutta 1
caucasian 1
caucasians 0
colored 0
coolie 1
coolies 0
descent 0
developing nation 0
developing nations 0
disabled 1
discover 0
dwarf 0
dwarfer 0
dwarfest 0
dwarfs 0
dwarves 0
eskimo 0
eskimos 1
ethnic group 0
ethnic groups 0
ethnicities 0
ethnicity 0
exotic 0
exotics 0
first world 1
footman 1
footmen 0
full blood 0
gay 1
gayer 0
gayest 0
gays 0
gypsies 1
gypsy 0
gypsys 0
half-blood 0
half-bloods 0
half-breed 1
half-breeds 0
handicap 1
handicaps 0
headhunter 0
headhunters 0
hermaphrodite 1
hermaphrodites 0
homo 0
homos 0
homosexual 1
homosexuals 1
hottentot 1
hottentots 0
immigrant 0
immigrants 0
indian 0
indians 1
indigenous 1
indo 0
indos 0
inuit 1
inuits 1
kaffir 1
kaffirs 1
lilliputian 1
lilliputians 0
low-income countries 0
low-income country 0
madras 0
maroon 0
maroons 1
medicine man 1
medicine men 0
mestizo 1
mestizos 1
metis 0
mohammedan 1
mohammedans 0
mongoloid 1
moor 0
moors 0
mulatto 1
mulattoes 0
mulattos 0
métis 0
native 0
natives 0
negro 0
negroes 0
negros 0
oriental 0
orientals 0
page 0
pages 0
primitive 0
primitives 0
primitivism 1
pygmy 0
queer 1
queerer 0
queerest 0
queers 0
race 0
races 1
retarded 0
roots 0
second world 1
servant 0
servants 0
slave 0
slaves 0
southern rhodesia 0
third world 1
traditional 0
traditionals 0
trans 1
transvestite 0
transvestites 0
tribe 1
tribes 0
western 0
westerns 0
white 0
whiter 0
whites 1
whitest 0

In [42]:
print(rm_count,total_terms)

39 143

In [64]:
top_10_cs_wm.to_csv('top_10_wm.csv')

In [43]:
# checking old cs

In [44]:
cs_old = all_cs_scores.drop(columns=['Unnamed: 0','Unnamed: 0.1','cs_combined','cs_wm_only','cs_rm_only'])

In [45]:
cs_old.drop_duplicates(subset=["term","QID"], inplace=True)

In [46]:
top_10_cs_old = pd.DataFrame()
for group in cs_old.groupby("term"):
    top_10_cs_old = top_10_cs_old.append(group[1].sort_values(by='spacy_cs', ascending=False)[0:10])

In [47]:
rm_count = 0
total_terms = 0
for g in top_10_cs_old.groupby("term"):
    total_terms += 1
    rm_count_per_term = 0
    
    for value in rm.values():
        if value["lang"] == "en":
            if g[0] in value["query_terms"]:
                wd_rm = value["related_matches"].get("wikidata")
                if wd_rm != None:
                    if wd_rm[0] in list(g[1]["QID"]):
                        rm_count_per_term += 1
                        rm_count += 1
                        
    print(g[0], rm_count_per_term)

aboriginal 1
aboriginals 0
allochtoon 1
baboo 0
baboos 0
barbarian 1
barbarians 0
batavia 1
berber 1
berbers 1
black 1
blacker 0
blackest 0
blacks 1
bombay 1
burma 1
bush negro 0
bush negroes 0
bush negros 0
calcutta 1
caucasian 1
caucasians 0
colored 1
coolie 1
coolies 0
descent 0
developing nation 0
developing nations 0
disabled 1
discover 0
dwarf 0
dwarfer 0
dwarfest 0
dwarfs 0
dwarves 0
eskimo 0
eskimos 1
ethnic group 1
ethnic groups 1
ethnicities 0
ethnicity 1
exotic 0
exotics 0
first world 1
footman 1
footmen 0
full blood 0
gay 1
gayer 0
gayest 0
gays 0
gypsies 1
gypsy 1
gypsys 0
half-blood 0
half-bloods 0
half-breed 1
half-breeds 0
handicap 1
handicaps 0
headhunter 0
headhunters 0
hermaphrodite 1
hermaphrodites 0
homo 0
homos 0
homosexual 1
homosexuals 1
hottentot 1
hottentots 0
immigrant 1
immigrants 0
indian 0
indians 1
indigenous 1
indo 1
indos 0
inuit 1
inuits 1
kaffir 1
kaffirs 1
lilliputian 1
lilliputians 0
low-income countries 0
low-income country 0
madras 1
maroon 0
maroons 1
medicine man 1
medicine men 0
mestizo 1
mestizos 1
metis 1
mohammedan 1
mohammedans 0
mongoloid 1
moor 0
moors 1
mulatto 1
mulattoes 0
mulattos 0
métis 1
native 0
natives 0
negro 0
negroes 0
negros 0
oriental 0
orientals 0
page 1
pages 0
primitive 0
primitives 0
primitivism 1
pygmy 1
queer 1
queerer 0
queerest 0
queers 0
race 1
races 1
retarded 0
roots 0
second world 1
servant 1
servants 0
slave 1
slaves 0
southern rhodesia 1
third world 1
traditional 0
traditionals 0
trans 1
transvestite 0
transvestites 0
tribe 1
tribes 0
western 1
westerns 0
white 1
whiter 0
whites 1
whitest 0

In [48]:
print(rm_count,total_terms)

66 143

In [49]:
# multiplying new rm and wm

In [50]:
cs_mult = all_cs_scores.drop(columns=['Unnamed: 0','Unnamed: 0.1'])

In [51]:
cs_mult.drop_duplicates(subset=["term","QID"], inplace=True)

In [55]:
mult_values = []
for row in cs_mult.iterrows():
    rm_wm_score = row[1]["cs_rm_only"] * row[1]["cs_wm_only"]
    mult_values.append(rm_wm_score)

In [56]:
mult_values[0]

0.064516

In [58]:
cs_mult["rm_wm_mult"] = mult_values

In [ ]:
# checking rm_wm mult

In [60]:
top_10_cs_mult = pd.DataFrame()
for group in cs_mult.groupby("term"):
    top_10_cs_mult = top_10_cs_mult.append(group[1].sort_values(by='rm_wm_mult', ascending=False)[0:10])

In [61]:
rm_count = 0
total_terms = 0
for g in top_10_cs_mult.groupby("term"):
    total_terms += 1
    rm_count_per_term = 0
    
    for value in rm.values():
        if value["lang"] == "en":
            if g[0] in value["query_terms"]:
                wd_rm = value["related_matches"].get("wikidata")
                if wd_rm != None:
                    if wd_rm[0] in list(g[1]["QID"]):
                        rm_count_per_term += 1
                        rm_count += 1
                        
    print(g[0], rm_count_per_term)

aboriginal 1
aboriginals 0
allochtoon 1
baboo 0
baboos 0
barbarian 1
barbarians 0
batavia 1
berber 0
berbers 1
black 1
blacker 0
blackest 0
blacks 1
bombay 1
burma 0
bush negro 0
bush negroes 0
bush negros 0
calcutta 1
caucasian 1
caucasians 0
colored 1
coolie 1
coolies 0
descent 1
developing nation 0
developing nations 0
disabled 1
discover 0
dwarf 0
dwarfer 0
dwarfest 0
dwarfs 0
dwarves 0
eskimo 0
eskimos 1
ethnic group 1
ethnic groups 1
ethnicities 0
ethnicity 0
exotic 0
exotics 0
first world 1
footman 1
footmen 0
full blood 0
gay 1
gayer 0
gayest 0
gays 0
gypsies 1
gypsy 0
gypsys 0
half-blood 0
half-bloods 0
half-breed 1
half-breeds 0
handicap 1
handicaps 0
headhunter 0
headhunters 0
hermaphrodite 1
hermaphrodites 0
homo 0
homos 0
homosexual 1
homosexuals 1
hottentot 1
hottentots 0
immigrant 1
immigrants 0
indian 0
indians 1
indigenous 1
indo 0
indos 0
inuit 1
inuits 1
kaffir 1
kaffirs 1
lilliputian 1
lilliputians 0
low-income countries 0
low-income country 0
madras 1
maroon 0
maroons 1
medicine man 1
medicine men 0
mestizo 1
mestizos 1
metis 1
mohammedan 1
mohammedans 0
mongoloid 1
moor 0
moors 1
mulatto 1
mulattoes 0
mulattos 0
métis 1
native 0
natives 0
negro 0
negroes 0
negros 0
oriental 0
orientals 0
page 1
pages 0
primitive 0
primitives 0
primitivism 1
pygmy 1
queer 1
queerer 0
queerest 0
queers 0
race 1
races 1
retarded 0
roots 0
second world 1
servant 1
servants 0
slave 1
slaves 0
southern rhodesia 1
third world 1
traditional 0
traditionals 0
trans 1
transvestite 0
transvestites 0
tribe 1
tribes 0
western 1
westerns 0
white 1
whiter 0
whites 1
whitest 0

In [62]:
print(rm_count,total_terms)

62 143

In [65]:
### comparing rm_wm and wm

In [ ]:
top_10_cs_combined

In [ ]:
top_10_cs_wm

In [72]:
for g in top_10_cs_combined.groupby("term"):
    common_list = []
    common_list.extend(list(g[1]["QID"]))
    
    for gr in top_10_cs_wm.groupby("term"):
        if gr[0] == g[0]:
            common_list.extend(list(gr[1]["QID"]))
    
    print(g[0], len(set(common_list)))        
            
    
    #break

aboriginal 18
aboriginals 13
allochtoon 1
baboo 1
baboos 1
barbarian 15
barbarians 13
batavia 16
berber 13
berbers 14
black 18
blacker 19
blackest 9
blacks 16
bombay 16
burma 16
bush negro 1
bush negroes 1
bush negros 1
calcutta 15
caucasian 12
caucasians 10
colored 17
coolie 12
coolies 13
descent 14
developing nation 1
developing nations 1
disabled 12
discover 1
dwarf 1
dwarfer 1
dwarfest 1
dwarfs 1
dwarves 1
eskimo 15
eskimos 13
ethnic group 15
ethnic groups 15
ethnicities 12
ethnicity 15
exotic 1
exotics 1
first world 18
footman 14
footmen 10
full blood 1
gay 14
gayer 11
gayest 2
gays 13
gypsies 13
gypsy 15
gypsys 10
half-blood 1
half-bloods 1
half-breed 14
half-breeds 1
handicap 13
handicaps 10
headhunter 1
headhunters 1
hermaphrodite 11
hermaphrodites 5
homo 1
homos 1
homosexual 14
homosexuals 11
hottentot 12
hottentots 10
immigrant 20
immigrants 18
indian 12
indians 13
indigenous 14
indo 17
indos 6
inuit 16
inuits 4
kaffir 12
kaffirs 3
lilliputian 8
lilliputians 3
low-income countries 1
low-income country 1
madras 17
maroon 13
maroons 11
medicine man 13
medicine men 10
mestizo 11
mestizos 10
metis 13
mohammedan 10
mohammedans 4
mongoloid 10
moor 20
moors 18
mulatto 11
mulattoes 3
mulattos 1
métis 14
native 1
natives 1
negro 17
negroes 12
negros 11
oriental 1
orientals 1
page 16
pages 17
primitive 14
primitives 12
primitivism 14
pygmy 14
queer 14
queerer 1
queerest 1
queers 11
race 12
races 11
retarded 14
roots 1
second world 17
servant 17
servants 15
slave 17
slaves 15
southern rhodesia 14
third world 14
traditional 1
traditionals 1
trans 12
transvestite 12
transvestites 8
tribe 15
tribes 15
western 19
westerns 11
white 16
whiter 11
whites 13
whitest 5

In [73]:
### comparing new rm and wm

In [74]:
for g in top_10_cs_new_rm.groupby("term"):
    common_list = []
    common_list.extend(list(g[1]["QID"]))
    
    for gr in top_10_cs_wm.groupby("term"):
        if gr[0] == g[0]:
            common_list.extend(list(gr[1]["QID"]))
    
    print(g[0], len(set(common_list)))

aboriginal 18
aboriginals 13
allochtoon 1
baboo 1
baboos 1
barbarian 16
barbarians 13
batavia 19
berber 20
berbers 16
black 18
blacker 19
blackest 9
blacks 16
bombay 18
burma 20
bush negro 1
bush negroes 1
bush negros 1
calcutta 16
caucasian 16
caucasians 11
colored 19
coolie 12
coolies 14
descent 15
developing nation 1
developing nations 1
disabled 12
discover 1
dwarf 1
dwarfer 1
dwarfest 1
dwarfs 1
dwarves 1
eskimo 17
eskimos 13
ethnic group 17
ethnic groups 16
ethnicities 12
ethnicity 16
exotic 1
exotics 1
first world 18
footman 15
footmen 10
full blood 1
gay 16
gayer 11
gayest 2
gays 14
gypsies 15
gypsy 15
gypsys 10
half-blood 1
half-bloods 1
half-breed 15
half-breeds 1
handicap 13
handicaps 11
headhunter 1
headhunters 1
hermaphrodite 11
hermaphrodites 5
homo 1
homos 1
homosexual 15
homosexuals 10
hottentot 12
hottentots 11
immigrant 20
immigrants 18
indian 14
indians 14
indigenous 15
indo 19
indos 6
inuit 17
inuits 4
kaffir 12
kaffirs 3
lilliputian 8
lilliputians 3
low-income countries 1
low-income country 1
madras 20
maroon 16
maroons 11
medicine man 15
medicine men 10
mestizo 14
mestizos 10
metis 14
mohammedan 10
mohammedans 4
mongoloid 10
moor 20
moors 18
mulatto 12
mulattoes 3
mulattos 1
métis 15
native 1
natives 1
negro 19
negroes 12
negros 16
oriental 1
orientals 1
page 19
pages 19
primitive 15
primitives 13
primitivism 14
pygmy 18
queer 14
queerer 1
queerest 1
queers 11
race 14
races 16
retarded 15
roots 1
second world 18
servant 18
servants 17
slave 19
slaves 17
southern rhodesia 19
third world 15
traditional 1
traditionals 1
trans 12
transvestite 13
transvestites 8
tribe 16
tribes 17
western 20
westerns 12
white 18
whiter 11
whites 14
whitest 5